@charset "utf-8";
main {
    max-width: 900px;
    background: white;
    margin: auto;
}
main, header, section, article, footer {
    border: 1px solid gray;
}

header h1 {
    text-align: center;
}
section{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
}
section img,section button{
    margin: auto;
}

